.html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
    margin:0;
    position: absolute;
    
}

.head {
    
    height: 45vh;
    margin-top: 80px;
    top:0;
    right: 0;
    position: absolute;
}

.head h1, .head p{
    color: #eee;
    font-size: 2.5em;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 2px;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
}

.head p {
    font-size: 1em;
    color: #fff;
    margin-top: 10px;
    font-weight: 500;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
}

.page2{
    background-color: #f3eff5;
    margin-top: calc(40vh);
    padding: 20px;
    height: auto;
    overflow-x: hidden;
    text-align: center;
}

.person h1 {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0px;
    text-transform: capitalize;
    margin-top: 40px;
}

.person h2 {
    color: rgba(0, 0, 0, 0.65);
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
    margin-top: 0px;
    text-transform: capitalize;
}

.person p {
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.5px;
}

#right{
    margin-top: 100px;
    padding-bottom: 100px;
}


@media only screen and (max-width: 1000px){
    .page2{
    
    margin-top: calc(30vh);
}}